html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
}
#container {
  min-height: 100%;
  background-color: rgb(0, 0, 0);
}

.alien {
  font-size: 80px;
} 

.alienDiv {
  width: fit-content;
  position: absolute;
  /* Cambiar a top: 100% para el juego */
  top: 100%;

  cursor: pointer;
}

.neonClass {
  animation: flicker 1.5s infinite;
}


/* ANIMATIONS */
@keyframes fly {
	100% {top: -15%}
}
@keyframes neon {
	100% {left: 0%}
}

/* Flickering animation */
@keyframes flicker {
  0%, 50%, 100% {
    text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #0fa,
    0 0 70px #0fa; 
  }
  25%, 75% {        
    text-shadow: none;
  }
}